<?xml version="1.0" encoding="utf-8" ?>
<Database Name="Cadis" xmlns="http://schemas.microsoft.com/linqtosql/mapping/2007">
  <Table Name="dbo.T_STORE_YB_ANALYTIC_REQ">
    <Type Name="AvEntities.StoreYbAnalyticReq">
      <Column Member="RunDate" Name="RUN_DATE" DbType="DateTime NOT NULL" UpdateCheck="Never" />
      <Column Member="CadisId" Name="CADIS_ID" DbType="Int NOT NULL" UpdateCheck="Never" />
      <Column Member="ValDate" Name="VAL_DATE" DbType="DateTime" UpdateCheck="Never" />
      <Column Member="Slot" Name="SLOT" DbType="Int" UpdateCheck="Never" />
      <Column Member="YbYieldbookId" Name="YB_YIELDBOOK_ID" DbType="VarChar(30)" UpdateCheck="Never" />
      <Column Member="PortfolioId" Name="PORTFOLIO_ID" DbType="int" UpdateCheck="Never" />
      <Column Member="UserBond" Name="USER_BOND" DbType="varchar(1)" UpdateCheck="Never" />
      <Column Member="ParAmt" Name="PAR_AMT" DbType="VarChar(20)" UpdateCheck="Never" />
      <Column Member="PricingLevel" Name="PRICING_LEVEL" DbType="Varchar(30)" UpdateCheck="Never" />
      <Column Member="OutputFile" Name="OUTPUT_FILE" DbType="VarChar(20)" UpdateCheck="Never" />
      <Column Member="OutputLine" Name="OUTPUT_LINE" DbType="Varchar(100)" UpdateCheck="Never" />
      <Column Member="PrepayModel" Name="PREPAY_MODEL" DbType="VarChar(20)" UpdateCheck="Never" />
      <Column Member="OmittedFromSecondRun" Name="OMITTED_FROM_SECOND_RUN" DbType="VarChar(1)" UpdateCheck="Never" />
    </Type>
  </Table>
  <Table Name="dbo.T_STORE_IN_YB_ANALYTIC">
    <Type Name="AvEntities.StoreInYbAnalytic">
      <Column Member="RunDate" Name="RUN_DATE" DbType="DateTime NOT NULL" UpdateCheck="Never" />
      <Column Member="PortfolioId" Name="PORTFOLIO_ID" DbType="int" UpdateCheck="Never" />
      <Column Member="Cusip" Name="CUSIP" DbType="VarChar(30) NOT NULL" UpdateCheck="Never" />
      <Column Member="Isin" Name="ISIN" DbType="VarChar(30) NULL" UpdateCheck="Never" />
      <Column Member="IndicSrc" Name="INDICSRC" DbType="VarChar(30) NULL" UpdateCheck="Never" />
      <Column Member="ModDur" Name="MODDUR" DbType="VarChar(30) NULL" UpdateCheck="Never" />
    </Type>
  </Table>
</Database>