<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AnalyticsViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CadisDatabase" connectionString="Data Source=CaDDbprd01;Initial Catalog=CadisProd;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AnalyticsViewer.Properties.Settings.TestConnection"
      connectionString="Data Source=caddbprd01;Initial Catalog=CADISPROD;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <AnalyticsViewer.Properties.Settings>
            <setting name="TestString" serializeAs="String">
                <value>Kevin</value>
            </setting>
            <setting name="DatabaseConfigFilename" serializeAs="String">
                <value>..\..\..\AvDataAccess\AnalyticViewer.database.config</value>
            </setting>
            <setting name="DatabaseTimeout" serializeAs="String">
                <value>45</value>
            </setting>
        </AnalyticsViewer.Properties.Settings>
    </applicationSettings>
</configuration>